[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch-lightning = "*"
xarray = "*"
torch = "*"
pymongo = "*"
tqdm = "*"
matplotlib = "*"
numpy = "*"
torchmetrics = "*"
rich = "*"
wandb = "*"
test-tube = "*"
sklearn = "*"
pudb = "*"
ray-lightning = "*"
ray = {extras = ["tune"], version = "*"}
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
